{% extends 'oursite/base.html'%}
{% load static%}
{% block body %}
<div class="about-us">
<div class="container-fluid mb-5 mt-5">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div>
                <h2 class="font-weight-bolder text-center">About us</h2>
                <p class="">Amobit technologies is an ICT company in Uganda with Talented ICT specialists with a lot of skills aiming to solve community problems using new technology.
                    Organizations face challenges on their digital evolution journey. New technologies offer new possibilities for where and how to conduct business.Customers expect more as competitors raise the bar on what constitutes good service. Amobit technologies services deliver solutions that meet the challenges.We’re a network of innovators. 
                    We devise bold solutions to the most client challenges. It’s our ability to explore new technologies to design best-fit solutions</p>
            </div>
            

        </div>
    
        <div class="col-md-3">


        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h2 class="font-weight-bold text-body">Mission</h2> 
            <p>To develop and sell reliable and sustainable Digital Solutions.</p>           
            <h2 class="font-weight-bold text-body">Vision</h2> 
            <p>Avail a Robust interconnected software ecosystem for our community.</p> 
        </div>

    </div>


    </div>

    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 core_values" style="font-family: 'Times New Roman', Times, serif;">
            <div class="">
                <h2 class="font-weight-bolder text-center">Our Core Values</h2>
                <h4 class="font-weight-bold">Customer Centricity</h4>
                <p class="text-justify">Our products, services and all our operation focus most on satisfying and tackling customer needs.
                     We always develop software that solve pressing matters of the people in our community who we take as our first hand customers.</p>
                <h4 class="font-weight-bold">Integrity</h4>
                <p>We understand and take seriously the matter of privacy and personal data protection therefore, we in the first place take
                     it as our priority to safe guard all the personal information from our customers through our products.</p>
                <h4 class="font-weight-bold">Innovation</h4>
                <p>Without creativity in solving problems then we are doing contrary to our mission 
                    therefore we must always consider innovative solutions to our problems more so in the ever rapid changing technology world.</p>
                <h4 class="font-weight-bold">Boldness</h4>
                <p>We endeavor to take fast steps towards identified opportunities because its only in this way we can make a positive impact in our community and ensure our continuous survival.</p>
                <h4 class="font-weight-bold">Team Work</h4>
                <p>We value the philosophy of working together to achieve a common goal. In this we believe we can deliver quality products and services faster.</p>
                <h4 class="font-weight-bold">Responsibility</h4>
                <p>AMOBIT TECHNOLOGIES will always work and act in responsible ways not to harm societies for this is our valuable market of today and tomorrow. Harming them is harming ourselves.</p>
            </div>

        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
<div id="services">
    <div class="box py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-0 font-weight-bolder">Our Team</h2>
            </div>
          </div>
        </div>
      </div>
    
  </div>
<div class="container">
    
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="rounded-circle wow bounce" src="{% static 'images/ceo.jpeg' %}" height="150" width="150" alt="Client 1 logo" class="img-responsive">

            
            <p class=""> <strong>Tayebwa Ian</strong> <br><span><strong>Role:</strong></span>CEO/marketing manager<br>
                <span>follow</span><i class="fa fa-twitter"></i><a href="https://www.twitter.com/IanTayebwa1"><span class="text-primary">@iantaye</span></a></p> <br>
        </div>
        <div class="col-md-4 text-center">
            <img class="rounded-circle wow bounce" src="{% static 'images/samuelitwaru.jpeg' %}" height="150" width="150" alt="Client 1 logo" class="img-responsive">

              
            <p class=""> <strong>Itwaru Samuel</strong> <br><span><strong>Role:</strong></span>General Secretary<br>
                <a href="" class="text-primary">follow<i class="fa fa-twitter"></i><span>@samuelitwaru</span></a></p> 
        </div>
        <div class="col-md-4 text-center">
            <img class="rounded-circle wow bounce" src="{% static 'images/mutesi.jpeg' %}" height="150" width="150" alt="Client 1 logo" class="img-responsive">

              
            <p class="mt-2"> <strong>Wilbrod Mutesi</strong><br><span><strong>Role:</strong></span>Operational Manager<br>
                <span>follow</span><i class="fa fa-twitter"></i><a href="https://www.twitter.com/MutesiWilbrod"><span class="text-primary">@MutesiWilbrod</span></a></p>          
        </div>
    </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="rounded-circle wow bounce" src="{% static 'images/lawrence.jpeg' %}" height="150" width="150" alt="Client 1 logo" class="img-responsive">
                      <p class=""> <strong>Lawrence Ainembabazi</strong> <br><span><strong>Role:</strong>:</span>Research Manager<br>
                    <a href="" class="text-primary">follow<i class="fa fa-twitter"></i><span>@ainelaw</span></a></p>
              
            </div>
            <div class="col-md-4 text-center">
                <img class="rounded-circle wow bounce" src="{% static 'images/joshua.jpeg' %}" height="150" width="150" alt="Client 1 logo" class="img-responsive">

                  
                <p class=""> <strong>Joshua Aaron Byenkya</strong> <br><span><strong>Role:</strong></span>Developer<br>
                    <a href="" class="text-primary">follow<i class="fa fa-twitter"></i><span>@aaronbyenkya</span></a></p>    
            </div>
            <div class="col-md-4 text-center">
                <img class="rounded-circle wow bounce" src="{% static 'images/olet.jpeg' %}" height="150" width="150" alt="Client 1 logo" class="img-responsive">

                  
                <p class=""> <strong>Charles Olet</strong> <br><span><strong>Role:</strong></span>Developer<br>
                    <a href="" class="text-primary">follow<i class="fa fa-twitter"></i><span>@Charlesolet</span></a></p>    
            </div>
    
        </div>
    </div>
    </div>


{% endblock %}