{% extends 'oursite/base.html'%}
{% load static %}
{% block body %}
<div class="wex mt-1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h2>Wex Information System</h2>

            <p class="" style="font-size: large;">Wex is a one stop stand sales management system for any
                restaurant, bar and hotel business category.</p>


        </div>
        <div class="col-md-3">

        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h3 class="mt-5 text-body">Benefits to your business</h3>

            <ul class="" style="font-size: large;">
                <li>Greater efficiency and less waste</li>
                <li>Better and consistent control of major business processes</li>
                <li>Better understanding of customer needs (Knowing what
                    sales most)</li>
                <li>Regulation of successful working practices</li>

                <li>Improved risk management (knowing the profitability of your business over a period)</li>
                <li>Increased customer satisfaction</li>
                <li>Improved participation of employees (Clear results of
                    employee performance acquired from the system)</li>
                <li>Greater consistency in the quality of products and services
                    (through setting standards in the system)</li>
                <li>Differentiation of your business from its competitors</li>
                <li>Reduction of costly errors (through automation of business
                    processes)</li>
                <li>Managing growth more effectively</li>
                <li>An embedded culture of quality</li>
                <li>Increased profits</li>

            </ul>
        </div>
        <div class="col-md-3">

        </div>

    </div>
</div>
<!--- corousel images-->
<section id="services" class="mb-5">
    <div class="container">

      <div class="">
        <h2 class="">Screenshots</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="">
              <img src="{% static 'images/oasis4.jpeg'%}" height="200px" width="300px">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="">
                <img src="{% static 'images/oasis1.jpeg'%}" class="img-fluid" height="200px" width="300px">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="">
                <img src="{% static 'images/oasis2.jpeg'%}" class="img-fluid" height="200px" width="300px">
            </div>
          </div>
      </div>

    </div>
</section>
 

</div>
{% endblock %}